#social_icone img {
	width: 50px;
	float: right;
}

#social_icone a img:hover {
	width: 70px;
	float: right;

}

#menu_phone a {
	color: #1C1C1C;
	text-decoration: none;
}

#menu_phone a:hover {
	text-decoration: underline;
	color: blue;
}

#email_contato a {
	font-size: 18px;
	text-decoration: none;
	color: black;
}

#email_contato a:hover {
	text-decoration: underline;
	color: blue;
}

#menu_principal a {
	font-size: 18px;
	color: black;
}

#menu_principal a:hover {
	text-decoration: underline;
	color: blue;
}

#logo {
	text-align: center;
}

#logo_financeiras img {
	height: 70px;
	padding: 5px;
}

#menu_phone {
	font-size: 18px; 
	padding-top: 12px;
	margin-top: -20px;
}

#icone_contatos img,
#icone_contatos2 img {
	margin-top: 15px;
	height: 15px;
}

#social_icone.facebook {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
}

#social_icone.email {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin-top: 200px;
}
#social_icone.whatsapp {
	position: absolute; 
	width: 100%;
	padding: 20px;
}

div#financiamentos {
	margin-top: -50px; 
	position: sticky; 
	background-color: #298A08; 
	text-align: center; 
	border-radius: 5px;
}
.titulo {
	font-size: 50px;
}

footer a, div {
	color: #E6E6E6;
}

div#localizacao.container {
	color: #2E2E2E;
}

div#logo_financeiras.col-sm {
	color: #2E2E2E;
}

@media only screen and (max-width: 1024px) {

	#menu_principal {
	}

}

@media only screen and (max-width: 991px) {

	#menu_phone_item {
		font-size: 15px;
	}

	#icone_contatos, #icone_contatos2 {
		margin-top: -14px;
	}

	#social_icone.whatsapp {
		margin-top: 0px;
		position: absolute; 
	}

	#social_icone.facebook {
		width: 80%;
		margin-top: 0px;
		position: relative;
	}

	#social_icone.email {
		width: 60%;
		margin-top: -100px;
		position: relative;
	}
	
}

@media only screen and (max-width: 768px) {

	#menu_phone {
		margin-top: -22px;
	}

	#icone_contatos, #icone_contatos2 {
		margin-top: -12px;
	}

	div#financiamentos {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 575px) {

	#menu_phone {
		height: 50px;
		margin-top: 8px;
	}

	#icone_contatos {
		margin-top: -14px;
	}

	#menu_principal {
		margin-top: 30px;
	}

	#cabecalho2 {
		margin-top: -64px;
	}

	#financiamento {
		margin-top: 200px;
	}

	#menu_geral {
		margin-top: 55px;
	}
	.titulo {
		font-size: 20px;
	}
}

@media only screen and (max-width: 425px) {

	#menu_phone {
		margin-top: 8px;

	}

	#email_contato a {
		font-size: 14px;
	}
}

@media only screen and (max-width: 420px) {

	#logo_img {
		height: 50px;
	}

	#menu_phone_item {
		font-size: 12px;
	}

}

@media only screen and (max-width: 375px) {

	#phone1 {
		margin-top: 2px;
	}

	#icone_contatos2 {
		margin-top: -14px;
	}

	#email_contato {
		margin-top: -2px;
	}
}

@media only screen and (max-width: 357px) {

	#menu_phone_item {
		font-size: 10px;
	}
}

p#texto_info {
	text-align: justify;
    font-family: 'Open Sans', sans-serif;
    background: #FAFAFA;
    font-size: 21px;
    color: #555;
}

h4.card-title {
	font-family: inherit;
	font-weight: bold;
	color: #00AFF0;
	font-size: 25px;
}

div.row.d-flex.flex-row-reverse {
	font-family: 'Open Sans', sans-serif;
}

div#meu_phone.row.d-flex.flex-row-reverse {
	font-family: 'Open Sans', sans-serif;
}

div#email_contato {
	font-family: 'Open Sans', sans-serif;
}
.promocao {
	color: #BDBDBD;
	background-color: #8A0829;
	padding: 10px;
	text-align: center;
	font-family: arial;
	box-shadow: 2px 2px 2px;
}
.promocao strong {
	font-size: 22px;
	color: #FFFFFF;
}